/* Importing external CSS libraries */
@import "https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.6.1/github-markdown.min.css";

/* Importing custom fonts */
@font-face {
  font-family: 'Ubuntu Nerd Font';
  src: url('../fonts/UbuntuNerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Global styles */
body {
  font-family: 'Ubuntu Nerd Font', sans-serif;
  margin: 0;
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff; /* --color-canvas-default */
  }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0d1117; /* --color-canvas-default */
  }
}

/* Markdown body styles */
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

/* Responsive styles for small screens */
@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

/* Link styles */
a, .markdown-body a {
  color: lightgreen;
}
